body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-navbar {
  background-color: #D9C659;
}
.custom-dropdown-toggle::after {
  display: none !important;
}
.custom-nav-dropdown .dropdown-toggle {
  color: white;
}

.custome-nav-link {
  position: relative;
}

.custome-nav-link::after {
  content: '';
  opacity: 0;
  transition: all 0.2s;
  height: 2px;
  width: 100%;
  background-color: #145230;
  position: absolute;
  bottom: 0;
  left: 0;

}

.custome-nav-link:hover::after,
.custome-nav-link.active::after,
.custome-nav-link.default-active::after {
  opacity: 1;
}

.banner-container {
  position: relative;
  overflow: hidden;
}

.banner-image {
  width: 100%;
  height: auto;
  min-height: 100vh;
  object-fit: cover;
}

.overlay-text {
  position: absolute;
  top: 5%;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  color: white;
}

.overlay-nav {
  display: flex;
  flex-direction: row;
  align-items: start;
  font-size: 13px !important;
  margin-bottom: 10%;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  height: 50vh;

}

.vertical-line {
  border-left: 2px solid white;
  height: 30px;
}

.toggle-icon {
  visibility: hidden;
}



@media (max-width: 990px) {
  .toggle-icon {
    visibility: visible;
  }
}

.overlay-text h2 {
  font-size: 38px;
  margin-bottom: 10%;
}

.overlay-text p {
  font-size: 18px;
  margin-bottom: 10%;
}

.vertical-line {
  width: 2px;
  height: 60px;
  background-color: #ffffff;
  display: inline-block;
  vertical-align: middle;
}

.custom-expert-banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120vh;
}

.custom-expert-banner p {
  width: 60%;
  align-self: center;
}

.lab-study {
  background-color: #FBFAF0;
}

.custom-carousel {
  background-color: #F3EDCA;
  /* width: 95% !important; */
}
.explore-more {
  background-color: #F8F7F5;
}

.research-content {
  background-color: #EFEEEE;
}

/* .custom-paper-width{ */
  /* flex: 1; */
  /* align-s: start; */

  /* padding: 2%; */
  /* width: 15%; */
  /* margin: auto; */
/* } */
.custome-paper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
/* .custome-footer-links{ */
  /* display: flex; */
  /* width: 80%; */
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start; */
/* } */

/* .slick-list {
  margin: 0 -10px;
} */

.slick-slide > div {
  margin: 0 10px;
}
.nav-link {
  white-space: nowrap;
  display: flex;
  align-items: center;
}